/* div {
	margin: 0.2em;
	padding: 1em;
	border: solid 3px grey;
} */

body {
    background-color: rgb(158, 199, 219);
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}
a, a:visited {
    text-decoration: none;
    color: rgb(41, 103, 133);
}
a:hover, a:active {
    text-decoration: underline;
    color: rgb(78, 66, 66);
}
h1#title {
    text-align: center;
    font-weight: 800;
    color:#fff;
    text-shadow: 1px 2px 0px rgb(78, 66, 66);
}
#loc {
	display: none;
}
.weather {
    background-color: #fff;
	padding: 1em;
	margin:1em auto;
    max-width: 500px;
    text-align:center;
    border-bottom: 4px solid rgb(78, 66, 66);
}

.temperature {
    font-size: 3em;
    font-weight: 800;
}

.icon {
    max-width: 3em;
    display:block;
    margin:0.25em auto;
}
 .btn {
     font-size: 1em;
     padding: 0.5em;
     border: none;
     color: rgb(41, 103, 133);
     background: none;
 }
 .btn:hover, .btn:active {
     color: rgb(78, 66, 66);
 }

 footer {
     background-color: #fff;
 	padding: 1em;
 	margin:1em auto;
     max-width: 500px;
     text-align:center;
     border-bottom: rgb(78, 66, 66) solid 4px;
 }
