/*
    by Thomas Machin
    thomasmachin.com

    CurrentweatherJS
    https://github.com/tmachin/CurrentWeatherJS

    uses browser location to get the current weather and forecast from the OpenWeatherMap API
*/
body {
    background-color: rgb(158, 199, 219);
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}
a, a:visited {
    text-decoration: none;
    color: rgb(41, 103, 133);
}
a:hover, a:active {
    text-decoration: underline;
    color: rgb(78, 66, 66);
}
h1#title {
    text-align: center;
    font-weight: 800;
    color:#fff;
    text-shadow: 1px 2px 0px rgb(78, 66, 66);
    margin:0;
    margin-bottom: 0.25em;
}
h4 {
    margin:0.25em;
}
#loc {
	display: none;
}
main {
    max-width: 800px;
    margin: 0 auto;
    padding:0.5em;
}
.currentWeather {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}
.weather, .indvforecast, .showforecast {
    background-color: #fff;
	padding: 0.5em;
    max-width: 500px;
    text-align:center;
    border-bottom: 4px solid rgb(78, 66, 66);
}
.weather {
    flex-grow: 1;
    margin-bottom: 0;
}
.weather h3{
    font-size: 2em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}
.upcomingforecasts {
    flex-grow: 1;
    display:none;
}
.upcomingforecast {
    background-color: #fff;
	padding: 1em;
    border-bottom: 4px solid rgb(78, 66, 66);
    margin-left: 1em;
    margin-bottom: 1em;
}
.upcomingforecast:last-child {
    margin-bottom: 0;
}

.upcomingforecast h3, .indvforecast h3{
    margin:0.25em;
}

.upcomingforecast h4, .indvforecast h4 {
    text-align: center;
}
.upcomingforecast .temperature,.indvforecast .temperature {
    font-size: 2em;
}

.furtherforecast {
    display:none;
}
.indvforecast {
    clear:both;
    text-align:left;
    margin:1em auto;
}

.temperature {
    font-size: 3em;
    font-weight: 800;
}

.icon {
    max-width: 3em;
    display:block;
    margin:1em auto;
}
.indvforecast .icon, .upcomingforecast .icon {
    float:left;
    padding-left: 2em;
    padding-right: 0.25em;
}

.indvforecast .icon {
    padding-left: 30%;
}

 .btn {
     font-size: 1em;
     padding: 0.5em;
     border: none;
     color: rgb(41, 103, 133);
     background: none;
 }
 .btn:hover, .btn:active {
     color: rgb(78, 66, 66);
 }

.showforecast {
    background-color: #fff;
 	padding:1em;
 	margin:0.5em auto;
    max-width: 500px;
    text-align:center;
    border-bottom: 4px solid rgb(78, 66, 66);
    box-sizing: border-box;
}

 footer {
     clear:both;
     background-color: #fff;
 	padding: 1em;
 	margin:1em auto;
     max-width: 500px;
     text-align:center;
     border-bottom: rgb(78, 66, 66) solid 4px;
     box-sizing: border-box;
 }

 @media screen and (max-width: 650px) {

    .currentWeather {
        display:block;
    }
    .weather {
        margin:0 auto;
    }
    .upcomingforecast {
        text-align: left;
        margin: 1em auto;
        padding:0.5em;
    }
    .upcomingforecast .icon {
        padding-left: 30%;
    }
 }
 @media screen and (max-width: 400px) {
    body {
         font-size: 14px;
    }
    .upcomingforecast .icon, .indvforecast .icon {
        padding-left: 10%;
    }
 }
 @media screen and (max-width: 270px) {

    body {
        font-size: 10px;
    }
 }
